<body>
    <section class="
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    " style="background-color:black;  ">
      <div class="container p-5">
          <div class="row">
            <div class="col mb-5" *ngFor="let data of myData">
              <div class="card" style="width: 18rem;color: #fff; "  data-bs-theme="dark">
              <div class="card" style="width: 18rem;height:32rem">
                  <img src="../../../assets/{{data.img1}}" class="card-img-top" alt="..." height="300" width="230">
                  <div class="card-body">
                    <h5 class="card-title">{{data.name}}</h5>
                    <!-- <p class="card-text"style="width: 18rem;">{{data.detail}}</p> -->
                    
                    <p>{{data.detail}}</p>
                    <button class="btn bg-primary">{{data.price}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true"
                    href="cart">buy now</a>
                    
                  </div>
                </div>
            </div>
            </div>
            </div>
          </div>
        </section>
          </body>
