<div class="intro">
  <h1>Welcome to macfast college canteen</h1>
  
  <button routerLink="about">view more</button>
</div>

    <br>


    <div class="text">
      <h5>Reviews & Testimonials</h5>
    </div>
      <div class="b1">
    <div class="body">
      <br><br>
      <h1>Ratings </h1>
      <br><br>
      <div class="rating">
    
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
      </div><br><br>
      <p>Trust Score 4.5 (Based on 2,500 reviews)</p>
    </div>
    
    <button type="button" class="btn btn-primary" routerLink="review">Review</button>
   
        
      
 