<body style="background-color: rgb(0, 0, 0);">
 <div class="intro">
    <h1>Welcome to macfast college canteen</h1>

    
  </div>
  <div class="about-section">
    <h2 style="text-align:center"><b>ABOUT US</b></h2>
    <p><b>we serves light refreshments and lunch to students and staff. During special occasions, the canteen will arrange special menu as per request. COLLEGE canteen facility aims to provide children of working parents to buy nutritious and healthy food at competitive prices during the school day. Meals are either cooked on the premises or bought from approved restaurants and food outlets.</b></p>
 </div>



 <h2 style="text-align:center"><b>MANAGER</b></h2>
  <div class="about-me">
    <img src="../../../assets/images/administrator.JPG" alt="me">
  </div>
  
  
  
  <h2 style="text-align:center"><b>GALLERY</b></h2>
  <!-- <div class="row"> -->
    <!-- <div class="column-md-3"> -->
      <!-- <div class="card"> -->
        <img src="../../../assets/images/new.jpg" alt="" height="400" width="350">
        
      <!-- </div> -->
    <!-- </div> -->
  
    <!-- <div class="column-md-3"> -->
      <!-- <div class="card"> -->
        <img src="../../../assets/images/g4.JPG" alt="" height="400" width="350">
       
      <!-- </div> -->
    <!-- </div> -->
  
    <!-- <div class="column-md-3"> -->
      <!-- <div class="card"> -->
        <img src="../../../assets/images/g5.JPG" alt="" height="400" width="350">
        <img src="../../../assets/images/homepic.JPG" alt="" height="400" width="350">
      <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->